@font-face {
    font-family: "poppinsRegular";
    src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "poppinsMedium";
    src: url("/fonts/Poppins-Medium.ttf");
}

* {
    font-family: "poppinsRegular", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #414141;
}

header {
    display: flex;
    width: 90%;
    height: 13vh;
    margin: 0 auto;
    align-items: center;
}

.logo-container,
.nav-links,
.cart {
    display: flex;
}

.logo-container {   
    flex: 1;
}

.logo {
    font-weight: 400;
    margin: 5px;
}

nav {
    flex: 2;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none;
}

.cart {
    flex: 1;
    justify-content: flex-end;
}

.presentation {
    display: flex;
    width: 90%;
    margin: 0 auto;
    min-height: 80vh;
    align-items: center;
}

.introduction {
    flex: 1;
}

.intro-text h1 {
    font-size: 44px;
    /* font-family: "poppinsMedium"; */
    background: linear-gradient(to right, #494964, #6f6f89);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p {
    margin-top: 5px;
    font-size: 20px;
    color: #585772;
}

.cta {
    padding: 50px 0 0 0;
}

.cover {
    flex: 1;
}

.cover img {
    height: 60vh;
}
